@model IEnumerable<BizBook.Models.BlogPost>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PubDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@*@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityStateZip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessBio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Promotions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>*@
            <td>
             @*<a asp-action="Index" asp-route-id="@Model."*@
            </td>
        </tr>
}
    </tbody>
</table>
