@model IEnumerable<BizBook.Models.SavedBusiness>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_ConsumerView.cshtml";
}

<h2>My Businesses</h2>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.businessProfile.BusinessName)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.businessProfile.BusinessType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.businessProfile.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.businessProfile.CityStateZip)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.businessProfile.BusinessBio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.businessProfile.Promotions)
            </th>
                <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.businessProfile.BusinessName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.businessProfile.BusinessType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.businessProfile.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.businessProfile.CityStateZip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.businessProfile.BusinessBio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.businessProfile.Promotions)
            </td>
                @*<td>
                <a asp-action="Edit" asp-route-id="@item.SavedBusinessId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SavedBusinessId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SavedBusinessId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
