@model IEnumerable<BizBook.Models.SavedBusiness>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_ConsumerView.cshtml";
}

<h2>Saved Businesses</h2>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.businessProfile)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Consumer)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.businessProfile.BusinessID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consumer.ConsumerID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SavedBusinessId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SavedBusinessId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SavedBusinessId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
